<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXxpsgOn3UIpJNMi1mPCvebOjcqMuZCuo</string>
	<key>GCM_SENDER_ID</key>
	<string>155722521233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gremioDeHistorias.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ludoteca-3be1e</string>
	<key>STORAGE_BUCKET</key>
	<string>ludoteca-3be1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:155722521233:ios:3e0af3f0c60d0cedc9bd30</string>
</dict>
</plist>